.input-container {
    text-align: center;
    margin-top: 5%;
}

h1 { 
    color: white;
}

.inputContainer{

    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    background: transparent;
    padding: 5%;
    background-color: #092066;
    margin: auto;
    width: 70%;
    /* background-image: url(./background.png); */
    border-radius: 10px; 
}


.linkBtn {
    padding: 15px;
    border-radius: 0px 10px 10px 0px;
    border: none;
    background-color: #e54464;
    transition: ease 0.3s;
    color: white;
}

.linkBtn:hover {
    transform: scaleX(1.15);
    background-color: #f8738b;  
}

.linkInput {
    
    padding: 15px;
    width: 70%;
    border-radius: 10px 0px 0px 10px;
    border: none;
    text-align: center;
    border: 2px solid white;
}

.linkInput:focus{
    border: 2px solid #f8738b;
}

