nav {
    display: flex;
    justify-content: space-between;
    align-items: top;

}

nav p {
    text-decoration: none;
    background-color: #17b978;
    color: white;
    border-radius: 10px;
    border: 1px solid #17b978;
    width: 100px;
    padding: 15px;
    text-align: center;
    margin: 7px;
    height: 20px;
    transition: ease 0.1s;
    cursor: pointer;
}

nav p:hover {
    box-shadow: rgb(0,0,0,.4) 1px 2px 2px 2px;
    transform: scale(1.05);
    transition: ease-in 0.23s ;
}

nav p:focus {
    background-color: #086972;
    color: #17b978;
}