#inputImg {
    
    width: 50vh;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
}

.img-container {
    
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 45px; 
}

.box{

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 0 3px #a7ff83 inset;
}